/* 
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;

colors: 
    body - #1F2937
    heading - #4ADF86 + #FFFFFF
    subheading - #D5D4D8
    button - #10B981
        text color - #FFFFFF
    textBox - #273549
    divider - #2F3E53
*/
body {
    background-color: #1F2937;
}

.container {
    width: 750px;
    margin: 100px auto 0px auto;
    text-align: left;
}

#header {
    margin-bottom: 50px;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 56px;
    line-height: 0.9em;
    margin-bottom: 12px;
}

#h1-accent {
    color: #4ADF86;
}

h2 {
    font-family: 'Karla', sans-serif;
    color: #D5D4D8;
    font-weight: 400;
    font-size: 36px;
    margin-top: 12px;
}

#btn-generate {
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #10B981;
    border-color: #10B981;
    border-radius: 5px;
    margin-bottom: 15px;
}

#divider {
    background-color: #2F3E53;
    padding: 1px;
    margin: 36px 0px;
}

#pw-container {
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 48px;
}

.text-box {
    width: 160px;
    height: 20px;
    padding: 15px 100px;
    margin: 0px auto;
    background-color: #273549;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
}